
ul{
	list-style-type:none;
	margin:0px;
	overflow:hidden;
	padding:0px;
		background:lightgrey;
	}
li a,.dropbtn{
	text-decoration:none;
    float:left;
	display:inline-block;
	padding:15px 15px;
	color:black;
}
.active{background:purple;
color:white;}
li:hover a{background:purple;color:white;}
.dropdown-content{
	display:none;
	position:absolute;
	top:206px;
	left:90px;
	 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	 	background:lightgrey;
		z-index: 1;
		width:150px;
}
.dropdown-content a {
	text-decoration:none;
   display:block;
	padding:15px 15px;
	color:black;
	background:lightgrey;
}
.DROPDOWN:hover .dropdown-content {
  display: block;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}
header {
  padding: 30px;
  text-align: center;
  background: white;
}
.leftcolumn{
	float:left;
	width:73.35%;
}
.rightcolumn{
	float:left;
	width:25%;
	background-color: #f1f1f1;
	padding-left: 20px;
}
.card{
	background:white;
	padding:20px;
	margin-top:20px;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}